DB_ENGINE=django.db.backends.postgresql
DB_NAME=jobtracker
DB_USER=jobtracker
DB_PASSWORD=changeme123
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=jobtracker
POSTGRES_USER=jobtracker
POSTGRES_PASSWORD=changeme123

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

NOTIFY_EMAIL=your-email@gmail.com
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password